%h1.heading.text-center Sign up
#sign-up.row
  .col-12.col-sm-8.offset-sm-2.col-md-6.offset-md-3.col-lg-4.offset-lg-4
    = form_for @user do |f|
      = f.text_field :name, placeholder: "Name", class: "name-input form-control"
      = f.text_field :email, type: 'email', placeholder: "Email", class: "email-input form-control"
      = f.password_field :password, placeholder: "Password", class: "password-input form-control"
      = f.submit "Sign up", class: "btn btn-primary btn-block"
      = link_to "Have an account? Sign in!", sign_in_path, class: "btn btn-sm btn-info btn-block"
