!!!
%html
  %head
    %title Trellish
    %meta{name: "viewport", content: "width=device-width, initial-scale=1"}
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %header
      %nav.navbar.navbar-expand-md.navbar-dark.fixed-top.bg-dark
        = link_to "Trellish", root_path, class: "navbar-brand"  
        %button.navbar-toggler.collapsed{"aria-controls" => "navbarCollapse", "aria-expanded" => "false", "aria-label" => "Toggle navigation", data: {target: "#navbarCollapse", toggle: "collapse"}, type: "button"}
          %span.navbar-toggler-icon
        #navbarCollapse.navbar-collapse.collapse
          - if current_user
            %ul.navbar-nav.mr-auto
              %li.nav-item
                = link_to "New list", new_list_path, class: "nav-link"
              %li.nav-item
                = link_to "Logout", sign_out_path, method: :delete, class: "nav-link"
            = form_tag search_path, method: :post, remote: true, class: "form-inline mt-2 mt-md-0" do
              = hidden_field_tag :authenticity_token, form_authenticity_token
              = text_field_tag :task_filter, nil, placeholder: "Search", class: "form-control mr-sm-2"
    %main.container-fluid
      = yield
    %footer.footer
      .container
        %span.text-muted= "Trellish &copy; #{Time.now.year}".html_safe
